**/logs
**/.venv
./DS_Store
./__pycache__
.gitignore
data/out*
data/*html
!data/ref_data/
output/*

.DS_Store
cli/*__pycache__
test_output
poetry.lock
*log
*logs
*notes
.pytest_cachedata.zip
data.zip
HLA_PEPCLUST.egg-info
__pycache__
**env
test_results
*ipynb_checkpoints
*__pycache__
*ipynb
*.png
cli/test_imagegrid.py
test