**/logs
**/.venv
./DS_Store
./__pycache__
.gitignore
data/D101*
data/*.gz
output/*
./__pycache__/*
notes.txt
data/command.run.txt
.DS_Store
cli/*__pycache__
test_output
poetry.lock
*log
*logs
*notes
.pytest_cache